.dashboard {
  width: 80%;
  height: 100%;

  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(
    155deg,
    rgba(70, 99, 95, 0.9) 2.76%,
    rgba(0, 0, 0, 0.9) 99.23%
  );
  box-shadow: 21px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 0 0;
  padding: 30px 30px;

  color: #343843;
  color: #d5deaf;
}

.dashboard h1 {
  text-align: center;
}
